* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

body {
    height: 100vh;
    background-image: url("background.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-box{
    width: 380px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25); /* transparent */
    backdrop-filter: blur(12px);           /* glass blur */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
} 

.todo-box h2 {
    text-align: center;
    margin-bottom: 15px;
}

.input-box {
    display: flex;
    gap: 10px;
}

.input-box input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.input-box button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #4a90e2;
    color: #fff;
    cursor: pointer;
}

.progress-bar {
    margin: 15px 0;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

#progress {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #02cc09, #5b9915);
    transition: width 0.4s ease;
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

li.done span {
    text-decoration: line-through;
    opacity: 0.6;
}

.actions button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
